name: Validate

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CI: 1
  CARGO_TERM_COLOR: always
  RENODE_DIR: /opt/renode/
  # Used by renode-test to generate snapshots of failed tests
  RENODE_CI_MODE: YES
  DLA_BIN: dla

jobs:
  build-dla-example:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install requirements
      run: rustup target add riscv64imac-unknown-none-elf
    - name: Build examples
      working-directory: ./examples/hpc/hello-dla
      run: cargo build --example dla
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: $DLA_BIN
        path: ./examples/hpc/target/riscv64imac-unknown-none-elf/debug/examples/dla
        if-no-files-found: error
        retention-days: 14

  run-dla-example:
    needs: build-dla-example

    runs-on: ubuntu-latest
    container:
      image: antmicro/renode:1.14.0
      options: --user root

    steps:
    - uses: actions/checkout@v4
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: $DLA_BIN
    - name: Create Renode peripheral symlinks
      run: ln -s $(readlink -f "./vp/devel/python_peripherals/DLA.py") "$RENODE_DIR/scripts/pydev/DLA.py"
    - name: Run example
      run: renode-test scripts/robot/hello_dla.robot --variable BIN:"$(readlink -f $DLA_BIN)"
    - name: Upload snapshots
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        path: snapshots/

  build-ffi:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install requirements
      run: rustup target add riscv64imac-unknown-none-elf riscv32imc-unknown-none-elf
    - name: Build FFI without RT on SysCtrl
      working-directory: ./examples/headsail-bsp-ffi
      run: cargo build --target=riscv32imc-unknown-none-elf -Fpanic-uart
    - name: Build FFI without RT on HPC
      working-directory: ./examples/headsail-bsp-ffi
      run: cargo build --target=riscv64imac-unknown-none-elf -Fpanic-uart
